
* {
    font-family: "Rubik", "sans-serif";
    text-align: center;
}

h1 {
    color: #990033;
    font-size: 40pt;
}

h5 {
    color: #990033;
    font-size: 30;
}

header{
    color: #E14D2A;
    font-size: 40pt;
    font-family: Arial, "sans-serif";
    text-align: center;
}

body {
    background-color: #003057;
}

p{
    color: #f1c1b6;
}

a{
    text-align: center;
}